<div class="body-content">
    <div class="contactContainer">
        <p>
            Thank you for checking out my site. I really hope you enjoyed it. I've put a lot of hard work and time into it. If you would like to contact me my email is <a href="mailto:luther.jensen98@gmail.com">luther.jensen98@gmail.com</a>
        </p>
    </div>
</div>