@model Login
<div class="body-content">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "frmLogin" }))
    {

        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.username, "Username:")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.username)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.password, "Password:")
                </td>
                <td>
                    @Html.PasswordFor(m => m.password)
                </td>
            </tr>
        </table>

    }
</div>