@using PalmTreeRecipe.Connectors
@model ReviewItemView
<div class="reviewBody">
    <div class="reviewIntro">
        <p>On @Model.review.timestamp @Model.createdByUser.username said:</p>
        <p class="reviewText">
            @Model.review.text
        </p>
    </div>
    <div class="ratingBar">
        @{ 
            for(var i = 1; i < 6; i++)
            {
                if(i <= Model.review.rating)
                {
                    <img src="~/images/transparentStar.png" class="filledStar"/>
                } else
                {
                    <img src="~/images/emptyStar.png" class="emptyStar"/>
                }
            }
        }
    </div>
</div>