.searchResultArea table {
    border: 2px solid var(--darkbrown);
    border-collapse: collapse;
    width: 40vw;
}

.searchResultArea table tr {
    text-align: center;
    border-bottom: 2px solid var(--medbrown);
}

.viewRecLink:-webkit-any-link {
    color: black;
    text-decoration: underline;
}