:root {
    --silvergray: rgb(140, 166, 179);
    --dirtywhite: rgb(216, 229, 237);
    --tan: rgb(226, 206, 182);
    --medbrown: rgb(86, 53, 48);
    --darkbrown: rgb(33, 22, 26);
}


body {
    padding-bottom: 20px;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: var(--medbrown);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
}

nav ul li p {
    width: 150px;
    text-align: center;
    color: var(--dirtywhite) !important;
    background-color: var(--darkbrown);
    border-radius: 3px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
}

a:-webkit-any-link {
    color: var(--dirtywhite);
    text-decoration: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
