:root {
    --silvergray: rgb(140, 166, 179);
    --dirtywhite: rgb(216, 229, 237);
    --tan: rgb(226, 206, 182);
    --medbrown: rgb(86, 53, 48);
    --darkbrown: rgb(33, 22, 26);
}


body {
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content p {
    margin: 0px 0px 1em 0px;
    padding-top: 1em;
}

nav {
    background-color: var(--medbrown);
    height: 10vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    height: 100%;
}

nav ul li p {
    width: 150px;
    text-align: center;
    color: var(--dirtywhite) !important;
    background-color: var(--darkbrown);
    border-radius: 3px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
}

a:-webkit-any-link {
    color: var(--dirtywhite);
    text-decoration: none;
}

.errorMessages{
    text-align: center;
    font-weight: bold;
    color: red;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.body-content table {
    margin: 0 auto;
}

.body-content table tr {
    margin: 5px 0px 5px 0px;
}

.container {
    background-color: var(--tan);
    height: 90vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer hr {
    margin-top: 0;
}

footer p {
    margin: 0;
}

.ui-dialog {
    background: white;
    border: 2px solid black;
}